    <title>Volunteer Database - Dashboard</title>
    <script src="/checklist-model.js"></script>
    <script src="//static.scripting.com/bootstrap/1.4.0/js/bootstrap-tabs.js"></script>
    <script src="/app.js"></script>
    <link rel="stylesheet" href="loader.css">
    <style type="text/css">
      .container {
          margin-top: 20px;
      }
      .margin-top {
          margin-top: 25px;
          margin-bottom: 10px;
      }
	  
	  /* Custom half-column */
	  .col-xs-point5 {
		  position: relative;
		  min-height: 1px;
		  padding-right: 15px;
		  padding-left: 15px;
	  }
	  .col-xs-point5 { float: left; }	
	  .col-xs-point5 {  width: 4.16666667%; }


      @media screen and (min-width: 768px) {
          .modal-dialog {
              width: 700px; /* New width for default modal */
          }
          .modal-sm {
              width: 350px; /* New width for small modal */
          }
      }
      @media screen and (min-width: 992px) {
          .modal-lg {
              width: 950px; /* New width for large modal */
      	  }
  	  }
</style>

<div id="loader">
    <div>
        <div class="spinner"></div>
        <p>Loading Site...</p>
    </div>
</div>

<div class="container" ng-app="sortApp" ng-controller="mainController">
	<div class="row">
		<div class="col-xs-12">
            <div class="alert alert-info ng-hide" ng-class="mode == 'normal' ? 'alert-info' : 'alert-success'" ng-show="numberOfUnapprovedVolunteers > 0" role="alert">
                <a href="#" class="alert-link" ng-click="mode == 'normal' ? getUnapproved() : getApproved()">{{ mode == "normal" ? getNumberOfUnapprovedVolunteers() + " new registrations to approve" : "Back to volunteer table"}} </a>
            </div>
		</div>
	</div>
    <div class="row">
        <div class="col-xs-6">
            <h1>Manage Volunteers</h1>
        </div>
        <div class="col-xs-6">
            <div class="btn-group pull-right margin-top">
                <a href="" class="btn btn-default" data-toggle="modal" data-target="#settingsModal">
                    <span class="glyphicon glyphicon-cog"></span>
                    Settings
                </a><!-- Opens a modal (yay modals!) to change settings such as table headings shown. -->
                <a href="/logout" class="btn btn-default">
                    <span class="glyphicon glyphicon-log-out"></span>
                    Log Out
                </a>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-3">
            <div class="input-group pull-left">
                <a href="" class="input-group-addon" id="basic-addon1">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
                <input type="text" class="form-control" ng-model="searchTerm" placeholder="Search for...">
            </div><!-- /input-group -->
        </div>
        <div class="col-xs-3">
            <form class="form-inline pull-left">
                <select ng-model="pageSize" name="rows-to-show" class="form-control">
                    <option ng-repeat="n in pageSizeOptions" ng-selected="n == pageSizeOptions[1]" value="{{ n }}">Show {{ n }} rows</option>
                </select>
            </form>
        </div>
        <div class="col-xs-6">
            <div class="btn-group pull-right">
                <a href="#" class="btn btn-success" ng-click="newVolunteer()">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add Volunteer
                </a>
                <a href="#" class="btn btn-info" data-toggle="modal" data-target="#emailModal" ng-disabled="select.length == 0" ng-class="{disabled:(select.length == 0)}">
                    <span class="glyphicon glyphicon-envelope"></span>
                    Communication
                </a>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12">

            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="col-xs-point5">
                            <select-all-checkbox checkboxes="filteredList" all-selected="allSelectedWtVolunteers" all-clear="noSelectedWtVolunteers" multiple="multipleWtVolunteers" ids="selectedWVolunteersIds"></select-all-checkbox>
                        </th>
                        <th ng-repeat="th in tableHeadings">
                            <a href="#" ng-click="sortBy(th); reverseSort()">
                                {{ readable(th) }}
                                <span ng-show="isSortType(th) && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="isSortType(th) && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th class="col-xs-1">
                            Operations
                        </th>
                    </tr>
                </thead>
                <tbody id="volunteer-table">
                    <tr ng-repeat="v in filteredList | startFrom:currentPage*pageSize | limitTo:pageSize | orderBy:sortType:sortReverse | filter:searchTerm" ng-click="v.isSelected = !v.isSelected">
                        <td class="col-xs-point5"><input type="checkbox" name="rowSelection" value="{{v._id}}selected" checklist-model="select" checklist-value="v" ng-model="v.isSelected"></td>
                        <td ng-repeat="th in tableHeadings">{{ v[th] }}</td>
                        <td class="col-xs-1">
							<a id="{{v._id}}edit" href="" onclick="return false;" data-toggle="modal" data-target="#editModal{{v._id}}" class="btn btn-xs btn-primary">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
							<a id="{{v._id}}bin" href="" onclick="return false;" ng-click="delete(v._id,$index)" class="btn btn-xs btn-danger">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
							<a id="{{v._id}}approve" href="" onclick="return false;" ng-click="approve(v._id,$index)" ng-hide="mode == 'normal'" class="btn btn-xs btn-block btn-success">
								<span class="glyphicon glyphicon-ok"></span>
							</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            
        </div>
        
    </div>
    <div class="row">
        
        <div class="col-xs-6">
            <p>Showing {{volunteers.length == 0 ? 0 : (currentPage * pageSize) + 1}} to {{rowsShown()}} of {{volunteers.length}} entries</p>
        </div>
        <nav class="col-xs-6">
            <ul id="pagination" class="pagination pull-right" style="margin-top: 0px;">
                <li ng-class="currentPage <= 0 ? 'disabled' : ''">
                    <a href="#" aria-label="Previous" ng-click="currentPage = currentPage - 1" ng-class="currentPage <= 0 ? 'hidden' : ''">
                        <span aria-hidden="true">&laquo; Previous</span>
                    </a>
                </li>
                <li ng-repeat="n in range(numberOfPages())" ng-class="isActive(n)">
                    <a href="#" ng-click="setPage(n)">
                        {{n + 1}}
                    </a>
                </li>
                <li ng-class="currentPage >= numberOfPages() - 1 ? 'disabled' : ''">
                    <a href="#" aria-label="Next" ng-click="currentPage = currentPage + 1" ng-class="currentPage >= numberOfPages() - 1 ? 'hidden' : ''">
                        <span aria-hidden="true">Next &raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>


<%- include('editModal.ejs') %>
<%- include('emailModal.ejs') %>
<%- include('settingsModal.ejs') %>