    <title>Volunteer Database - Dashboard</title>
<script src="checklist-model.js"></script>  
<script src="app.js"></script>

<div class="container" ng-app="sortApp" ng-controller="mainController">
    <div class="row">

        <div class="alert alert-info" role="alert">
            <a href="#" class="alert-link">5 new registrations to approve</a>
        </div>
        
        <h1>Manage Volunteers</h1>
        <br>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <form class="form-inline">
                <label for="rows-to-show">Rows to show</label>
                <select ng-model="pageSize" name="rows-to-show" class="form-control">
                    <option value="5">5</option>
                    <option selected value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </select>
            </form>
        </div>
        <div class="col-xs-6">
            <div class="btn-group pull-right">
                <a href="#" class="btn btn-success" ng-click="newVolunteer()">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add Volunteer
                </a>
                <a href="#" class="btn btn-warning" data-toggle="modal" data-target="#emailModal">
                    <span class="glyphicon glyphicon-envelope"></span>
                    Communication
                </a>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="input-group">
                <a href="" class="input-group-addon" id="basic-addon1">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
                <input type="text" class="form-control" ng-model="searchTerm" placeholder="Search for...">
            </div><!-- /input-group -->
        </div>
        
    </div>
    <br>
    <div class="row">

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        <a href="#" ng-click="sortType = 'fName'; sortReverse = !sortReverse">
                            First Name(s)
                            <span ng-show="sortType == 'fName' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'fName' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'lName'; sortReverse = !sortReverse">
                            Last Name 
                            <span ng-show="sortType == 'lName' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'lName' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>Email</th>
                    <th>Telephone</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody id="volunteer-table">
                <tr ng-repeat="v in volunteers | startFrom:currentPage*pageSize | limitTo:pageSize | orderBy:sortType:sortReverse | filter:searchTerm">
                    <td><input type="checkbox" name="rowSelection" value="{{v._id}}selected" checklist-model="select" checklist-value="v"></td>
                    <td>{{ v.fName }}</td>
                    <td>{{ v.lName }}</td>
                    <td>{{ v.email }}</td>
                    <td>{{ v.telHome }}</td>
                    <td>
                        <a href=""  onclick="return false;" data-toggle="modal" data-target="#editModal{{v._id}}" ng-click="change(v._id,$index)"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a id="{{v._id}}bin" href="" onclick="return false;" ng-click="delete(v._id,$index)"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="col-xs-6">
            <p>Showing {{volunteers.length == 0 ? 0 : (currentPage * pageSize) + 1}} to {{rowsShown()}} of {{volunteers.length}} entries</p>
        </div>
        <nav class="col-xs-6">
            <ul id="pagination" class="pagination pull-right">
                <li ng-class="currentPage <= 0 ? 'disabled' : ''">
                    <a href="#" aria-label="Previous" ng-click="currentPage = currentPage - 1" ng-class="currentPage <= 0 ? 'hidden' : ''">
                        <span aria-hidden="true">&laquo; Previous</span>
                    </a>
                </li>
                <li ng-repeat="id in getNumber(numberOfPages())" ng-class="isActive(id)">
                    <a href="#" ng-click="currentPage = id"><!-- Why doesn't id work?? -->
                        {{id + 1}}
                    </a>
                </li>
                <li ng-class="currentPage >= numberOfPages() - 1 ? 'disabled' : ''">
                    <a href="#" aria-label="Next" ng-click="currentPage = currentPage + 1" ng-class="currentPage >= numberOfPages() - 1 ? 'hidden' : ''">
                        <span aria-hidden="true">Next &raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Modal for editing volunteer data -->

    <div id="editModal{{v._id}}" class="modal fade" role="dialog" ng-repeat="v in volunteers">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">          
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit {{v.title}} {{v.fName}} {{v.lName}}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        
                        
                        <fieldset>
                            <legend>Personal Information</legend>

                            <div class="form-group">
                                <label for="title">Title:</label>
                                <select name="title" class="form-control" ng-model="v.title">
                                    <option value="Mr">Mr</option>
                                    <option value="Mrs">Mrs</option>
                                    <option value="Miss">Miss</option>
                                    <option value="Ms">Ms</option>
                                    <option value="Dr">Dr</option>
                                </select>
                            </div>
                            
                            <div class="form-group">
                                <label for="fname">First Name:</label>
                                <input type="text" name="fName" size="25" value="" class="form-control" ng-model="v.fName">
                            </div>

                            <div class="form-group">
                                <label for="lName">Surname:</label>
                                <input type="text" name="lName" size="25" value="" class="form-control" ng-model="v.lName">
                            </div>

                            <div class="form-group">
                                <label for="dob">Date of Birth:</label>
                                <input type="date" name="dob" size="25" value="" class="form-control" ng-model="v.dob">
                            </div>

                            <div class="form-group">
                                <label for="address">Address:</label>
                                <textarea name="address" rows="6" cols="40" class="form-control" ng-model="v.address"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="telHome">Home tel:</label>
                                <input type="tel" name="telHome" size="25" value="" class="form-control" ng-model="v.telHome">
                            </div>

                            <div class="form-group">
                                <label for="telMob">Mobile:</label>
                                <input type="tel" name="telMob" size="25" value="" class="form-control" ng-model="v.telMob">
                            </div>

                            <div class="form-group">
                                <label for="telOther">Other tel:</label>
                                <input type="tel" name="telOther" size="25" value="" class="form-control" ng-model="v.telOther">
                            </div>

                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" name="email" size="25" value="" class="form-control" ng-model="v.email">
                            </div>

                            <div class="form-group">
                                <label for="commPref">Preferred method of contact:</label>
                                <select name="commPref" class="form-control" ng-model="v.commPref">
                                    <option value="telHome">Home tel</option>
                                    <option value="telMob">Mobile</option>
                                    <option value="telOther">Other tel</option>
                                    <option value="email">Email</option>
                                </select>
                            </div>
                            
                            <div class="form-group">
                                <label for="volunteeringType">In what capacity would you like to volunteer?</label>
                                <select name="volunteeringType" class="form-control" ng-model="v.volunteeringType">
                                    <option value="support at events">Support at Events</option>
                                    <option value="field work">Field Work</option>
                                    <option value="monitoring/testing">Monitoring/Testing</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="availability">What days are you available to volunteer?</label>
                                <select name="availability" class="form-control" ng-model="v.availability">
                                    <option value="weekdays">Weekdays</option>
                                    <option value="weekends">Weekends</option>
                                    <option value="both">Both</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="experience">Please list any relavant experience you may have:</label>
                                <textarea name="experience" rows="6" cols="120" placeholder="" class="form-control" ng-model="v.experience"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="medCond">Do you have any medical conditions/allergies that we should be aware about?</label>
                                <textarea name="medCond" rows="6" cols="120" placeholder="" class="form-control" ng-model="v.medCond"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="lastTetnus">If relevant, what date was you last Tetanus?</label>
                                <input type="date" name="lastTetnus" size="25" value="" class="form-control" ng-model="v.lastTetnus">
                                <span class="help-block">(if more than 10 years ago please consult your GP)</span>
                            </div>
                            
                        </fieldset>
                        
                        <br>
                        
                        <fieldset>
                            
                        <legend>Transport</legend>
                            
                            <div class="form-group">
                                <label for="hasTransport">Do you have transport?</label>
                                <br>
                                <label class="radio-inline"><input type="radio" name="hasTransport" id="true" value="true">Yes</label>
                                <label class="radio-inline"><input type="radio" name="hasTransport" id="false" value="false">No</label>
                            </div>

                            <div class="form-group">
                                <span class="help-block">If you answered No you can skip this part</span>
                            </div>

                            <div class="form-group">
                                <label for="make">Car make:</label>
                                <input type="text" name="make" size="25" value="" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="mode">Car model:</label>
                                <input type="text" name="mode" size="25" value="" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="colour">Car colour:</label>
                                <input type="text" name="colour" size="25" value="" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="reg">Car reg:</label>
                                <input type="text" name="reg" size="25" value="" class="form-control">
                            </div>
                        
                        </fieldset>
                        
                        <br>
                        
                        <fieldset>

                            <legend>Emergency contact (1)</legend>

                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" name="name" size="42" value="" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="relationship">Relationship:</label>
                                <input type="text" name="relationship" size="25" value="" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="address">Address:</label>
                                <textarea name="address" rows="6" cols="40" class="form-control"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="contactDetails">Contact Details:</label>
                                <input type="text" name="contactDetails" size="25" value="" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="telHome">Home tel:</label>
                                <input type="tel" name="telHome" size="25" value="" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="telMob">Mobile:</label>
                                <input type="tel" name="telMob" size="25" value="" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="telOther">Other tel:</label>
                                <input type="tel" name="telOther" size="25" value="" class="form-control">
                            </div>
                            
                        </fieldset>
                        
                        <br>
                        
                        <fieldset>

                            <legend>Emergency contact (2)</legend>

                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" name="name" size="42" value="" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="relationship">Relationship:</label>
                                <input type="text" name="relationship" size="25" value="" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="address">Address:</label>
                                <textarea name="address" rows="6" cols="40" class="form-control"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="contactDetails">Contact Details:</label>
                                <input type="text" name="contactDetails" size="25" value="" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="telHome">Home tel:</label>
                                <input type="tel" name="telHome" size="25" value="" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="telMob">Mobile:</label>
                                <input type="tel" name="telMob" size="25" value="" class="form-control">
                            </div>

                            <div class="form-group">
                                <label for="telOther">Other tel:</label>
                                <input type="tel" name="telOther" size="25" value="" class="form-control">
                            </div>
                            
                        </fieldset>
                        
                        <br>
                        
                        <fieldset>
                            
                            <legend>Other Information</legend>

                            <div class="form-group">
                                <label for="heardFrom">Where did you hear about volunteering for Wear Rivers Trust?</label>
                                <select name="heardFrom" class="form-control">
                                    <option value="website">Website</option>
                                    <option value="local newspaper">Local Newspaper</option>
                                    <option value="volunteer centre">Volunteer Centre</option>
                                    <option value="wildlife volunteer">Wildlife Volunteer</option>
                                    <option value="television">Television</option>
                                    <option value="college careers service">College Careers Service</option>
                                    <option value="friend">Friend</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="interestedInMore">Would you like to hear about other volunteering opportunities?</label>
                                <br>
                                <label class="radio-inline"><input type="radio" name="interestedInMore" id="true" value="true">Yes</label>
                                <label class="radio-inline"><input type="radio" name="interestedInMore" id="false" value="false">No</label>
                            </div>

                            <div class="form-group">
                                <label for="photoConsent">Do you agree for any photographs to be published on our volunteer website and interpretation?</label>
                                <br>
                                <label class="radio-inline"><input type="radio" name="photoConsent" id="true" value="true">Yes</label>
                                <label class="radio-inline"><input type="radio" name="photoConsent" id="false" value="false">No</label>
                            </div>
                        
                        </fieldset>
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    <button class="btn btn-primary" data-dismiss="modal" ng-click"change()">Save</button>
                </div>
            </div>
        </div>
    </div>



    <!-- Modal for email communication -->


    <div id="emailModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Send communication</h4>
                </div>
            <div class="modal-body">
                <div class="form-group">
                    Recipients:<br><span ng-repeat="v in select"><span style="text-transform: uppercase;">{{v.fName}} {{v.lName}}</span> &lt;{{v.email}}&gt;, </span><br>
                    Subject:<input class="form-control" ng-model="email.subject">
                    Email body:<textarea rows="10" class="form-control" ng-model="email.body"></textarea>
                </div>
                Note: You can put tags in the email e.g. {fName};
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-primary" data-dismiss="modal" ng-click="sendEmail()">Send</button>
            </div>
        </div>
    </div>
</div>