<title>Volunteer Database - Dashboard</title>
<script src="app.js"></script>

<div class="container" ng-app="sortApp" ng-controller="mainController">
    <div class="row">

        <div class="alert alert-info" role="alert">
            <a href="#" class="alert-link">5 new registrations to approve</a>
        </div>
        
        <h1>Manage Volunteers</h1>
        <br>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <form class="form-inline">
                <label for="rows-to-show">Rows to show</label>
                <select name="rows-to-show" class="form-control">
                    <option value="5">5</option>
                    <option selected value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </select>
            </form>
        </div>
        <div class="col-xs-6">
            <div class="btn-group pull-right">
                <a href="#" class="btn btn-success" ng-click="newVolunteer()">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add Volunteer
                </a>
                <a href="#" class="btn btn-warning">
                    <span class="glyphicon glyphicon-envelope"></span>
                    Communication
                </a>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="input-group">
                <a href="" class="input-group-addon" id="basic-addon1">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
                <input type="text" class="form-control" ng-model="searchTerm" placeholder="Search for...">
            </div><!-- /input-group -->
        </div>
        
    </div>
    <br>
    <div class="row">
        
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>
                    <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                        First Name 
                        <span ng-show="sortType == 'fName' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'fName' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                    </th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Telephone</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody id="volunteer-table">
                <tr ng-repeat="v in volunteers | orderBy:sortType:sortReverse | filter:searchTerm">
                    <td><input type="checkbox" name="rowSelection" value="{{v._id}}"></td>
                    <td>{{ v.name }}</td>
                    <td>{{ v.lName }}</td>
                    <td>{{ v.email }}</td>
                    <td>{{ v.tel }}</td>
                    <td>
                        <a href=""  onclick="return false;" data-toggle="modal" data-target="#editModal{{v._id}}" ng-click="change(v._id,$index)"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a id="{{v._id}}bin" href="" onclick="return false;" ng-click="delete(v._id,$index)"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="col-xs-6">
            <p>Showing 0 to {{volunteers.length}} of {{volunteers.length}} entries</p>
        </div>
        <nav class="col-xs-6">
            <ul class="pagination pull-right">
                <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo; Previous</span>
                </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">Next &raquo;</span>
                </a>
                </li>
            </ul>
        </nav>
    </div>
    



<!-- Modal for editing volunteer data -->
<div ng-repeat="v in volunteers">

<div id="editModal{{v._id}}" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">          
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{v.name}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    First Name:<input class="form-control" ng-model="v.fName">
                    Surname:<input class="form-control" ng-model="v.lName">
                    Title:<input class="form-control" ng-model="v.title">
                    Date of Birth:<input class="form-control" ng-model="v.dob">
                    Address:<input class="form-control" ng-model="v.address">
                    Home tel:<input class="form-control" ng-model="v.telHome">
                    Mobile:<input class="form-control" ng-model="v.telMob">
                    Other tel:<input class="form-control" ng-model="v.telOther">
                    Email:<input class="form-control" ng-model="v.email">
                    Preferred Method of Contact:<input class="form-control" ng-model="v.commPref">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-primary" ng-click"change()">Save</button>
            </div>
        </div>
    </div>
</div>

</div>


</div>