    <!-- Modal for editing volunteer data -->

    <div id="editModal{{v._id}}" class="modal fade" role="dialog" ng-repeat="v in volunteers" ng-attr-data-display-modal="{{$last ? '' : undefined}}">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">          
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit {{v.Title}} {{v.First_Name}} {{v.Last_Name}}</h4>
                </div>
                <div class="modal-body">

                    <div class="divDialogElements">
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="active"><a href="#contactDetails{{v._id}}">Contact Details</a></li>
                            <li><a href="#volunteering{{v._id}}">Volunteering</a></li>
                            <li><a href="#transport{{v._id}}">Transport</a></li>
                            <li><a href="#emergency1{{v._id}}">Emergency Contact (1)</a></li>
                            <li><a href="#emergency2{{v._id}}">Emergency Contact (2)</a></li>
                            <li><a href="#other{{v._id}}">Other Info</a></li>
                        </ul>
                        <div id="my-tab-content" class="tab-content">
                            
                            <div class="tab-pane active" id="contactDetails{{v._id}}">

                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label for="Title">Title:</label>
                                                <select name="Title" class="form-control" ng-model="v.Title">
                                                    <option value="Mr">Mr</option>
                                                    <option value="Mrs">Mrs</option>
                                                    <option value="Miss">Miss</option>
                                                    <option value="Ms">Ms</option>
                                                    <option value="Dr">Dr</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="First_Name">First Name:</label>
                                                <input type="text" name="First_Name" size="25" value="" class="form-control" ng-model="v.First_Name">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="Last_Name">Surname:</label>
                                                <input type="text" name="Last_Name" size="25" value="" class="form-control" ng-model="v.Last_Name">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label for="Address">Address:</label>
                                                <textarea name="Address" rows="6" cols="40" class="form-control" ng-model="v.Address"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label for="Date_of_Birth">Date of Birth:</label>
                                                <input type="date" name="Date_of_Birth" size="25" value="" class="form-control" ng-model="v.Date_of_Birth">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="input-group" ng-class="{ 'has-error': validationError.errors['Email'].kind }">
                                                <label for="Email">Email:</label>
                                                <input type="email" name="Email" size="25" value="" class="form-control" ng-model="v.Email" ng-blur="validate(v)">
                                                <span class="glyphicon glyphicon-remove form-control-feedback" ng-if="validationError.errors['Email'].kind">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="Communication_Preference">Preferred method of contact:</label>
                                                <select name="Communication_Preference" class="form-control" ng-model="v.Communication_Preference">
                                                    <option value="Letter">Letter</option>
                                                    <option value="Email">Email</option>
                                                    <option value="Telephone">Telephone</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-sm-2">
                                             <div class="input-group" ng-class="{ 'has-error': validationError.errors['Telephone_Home'].kind }">
                                                <label for="Telephone_Home">Home tel:</label>
                                                <input type="tel" name="Telephone_Home" size="25" value="" class="form-control" ng-model="v.Telephone_Home" ng-blur="validate(v)">
                                                <span class="glyphicon glyphicon-remove form-control-feedback" ng-if="validationError.errors['Telephone_Home'].kind">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="input-group" ng-class="{ 'has-error': validationError.errors['Telephone_Mobile'].kind }">
                                                <label for="Telephone_Mobile">Mobile:</label>
                                                <input type="tel" name="Telephone_Mobile" size="25" value="" class="form-control" ng-model="v.Telephone_Mobile" ng-blur="validate(v)">
                                                <span class="glyphicon glyphicon-remove form-control-feedback" ng-if="validationError.errors['Telephone_Mobile'].kind">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="input-group" ng-class="{ 'has-error': validationError.errors['Telephone_Other'].kind }">
                                                <label for="Telephone_Other">Other tel:</label>
                                                <input type="tel" name="Telephone_Other" size="25" value="" class="form-control" ng-model="v.Telephone_Other" ng-blur="validate(v)">
                                                <span class="glyphicon glyphicon-remove form-control-feedback" ng-if="validationError.errors['Telephone_Other'].kind">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--tab-pane-->
                            <div class="tab-pane" id="volunteering{{v._id}}">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="Volunteering_Capacity">In what capacity would you like to volunteer?</label>
                                                <select name="Volunteering_Capacity" class="form-control" ng-model="v.Volunteering_Capacity">
                                                    <option value="Support At Events">Support at Events</option>
                                                    <option value="Field Work">Field Work</option>
                                                    <option value="Monitoring/Testing">Monitoring/Testing</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="Projects">On which projects would you like to volunteer?</label>
                                                <select name="Projects" class="form-control" ng-model="v.Projects">
                                                    <option value="electroFishing">Electro Fishing</option>
                                                    <option value="riverflyMonitoring">Riverfly Monitoring</option>
                                                    <option value="praticalHabitatWorks">Practical Habitat Works</option>
                                                    <option value="fieldSurveying">Field Surveying</option>
                                                    <option value="otherMonitoring">Other Monitoring</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="Geographical_Area">In what area would you like to volunteer?</label>
                                                <select name="Geographical_Area" class="form-control" ng-model="v.Geographical_Area">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="Availability">What days are you available to volunteer?</label>
                                                <select name="Availability" class="form-control" ng-model="v.Availability">
                                                    <option value="Weekdays">Weekdays</option>
                                                    <option value="Weekends">Weekends</option>
                                                    <option value="Both">Both</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label for="Experience">Please list any relavant experience you may have:</label>
                                                <textarea name="Experience" rows="6" cols="120" placeholder="" class="form-control" ng-model="v.Experience"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label for="Medical_Conditions">Do you have any medical conditions/allergies that we should be aware about?</label>
                                                <textarea name="Medical_Conditions" rows="6" cols="120" placeholder="" class="form-control" ng-model="v.Medical_Conditions"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label for="Last_Tetanus">If relevant, what date was you last Tetanus?</label>
                                                <input type="date" name="Last_Tetanus" size="25" value="" class="form-control" ng-model="v.Last_Tetanus">
                                                <span class="help-block">(if more than 10 years ago please consult your GP)</span>
                                            </div>
                                        </div>
                                    </div>    
                                </div>        
                            </div><!--tab-pane-->
                            <div class="tab-pane" id="transport{{v._id}}">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <label for="Has_Transport">Do you have transport?</label>
                                                <br>
                                                <label class="radio-inline"><input type="radio" name="Has_Transport" id="true" ng-value="true" ng-model="v.Has_Transport">Yes</label>
                                                <label class="radio-inline"><input type="radio" name="Has_Transport" id="false" ng-value="false" ng-model="v.Has_Transport">No</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <span class="help-block">If you answered No you can skip this part</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="Car_Make">Car make:</label>
                                                <input type="text" name="Car_Make" size="25" value="" class="form-control" ng-disabled="v.Has_Transport==false" ng-model="v.Car_Make">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="Car_Model">Car model:</label>
                                                <input type="text" name="Car_Model" size="25" value="" class="form-control" ng-disabled="v.Has_Transport==false" ng-model="v.Car_Model">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="Car_Colour">Car colour:</label>
                                                <input type="text" name="Car_Colour" size="25" value="" class="form-control" ng-disabled="v.Has_Transport==false" ng-model="v.Car_Colour">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input-group" ng-class="{ 'has-error': validationError.errors['Car_Registration_Number'].kind }">
                                                <label for="Car_Registration_Number">Car reg:</label>
                                                <input type="text" name="Car_Registration_Number" size="25" value="" class="form-control" ng-disabled="v.Has_Transport==false"ng-model="v.Car_Registration_Number" ng-blur="validate(v)">
                                                <span class="glyphicon glyphicon-remove form-control-feedback" ng-if="validationError.errors['Car_Registration_Number'].kind">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--tab-pane-->
                            <div class="tab-pane" id="emergency1{{v._id}}">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label for="Emergency_Name_1">Name:</label>
                                                <input type="text" name="Emergency_Name_1" size="42" value="" class="form-control" ng-model="v.Emergency_Name_1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label for="Emergency_Address_1">Address:</label>
                                                <textarea name="Emergency_Address_1" rows="6" cols="40" class="form-control" ng-model="v.Emergency_Address_1"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="Emergency_Relationship_1">Relationship:</label>
                                                <input type="text" name="Emergency_Relationship_1" size="25" value="" class="form-control" ng-model="v.Emergency_Relationship_1">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input-group" ng-class="{ 'has-error': validationError.errors['Emergency_Email_1'].kind }">
                                                <label for="Emergency_Email_1">Email:</label>
                                                <input type="email" name="Emergency_Email_1" size="25" value="" class="form-control" ng-model="v.Emergency_Email_1" ng-blur="validate(v)">
                                                <span class="glyphicon glyphicon-remove form-control-feedback" ng-if="validationError.errors['Emergency_Email_1'].kind">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="input-group" ng-class="{ 'has-error': validationError.errors['Emergency_Telephone_Home_1'].kind }">
                                                <label for="Emergency_Telephone_Home_1">Home tel:</label>
                                                <input type="tel" name="Emergency_Telephone_Home_1" size="25" value="" class="form-control" ng-model="v.Emergency_Telephone_Home_1" ng-blur="validate(v)">
                                                <span class="glyphicon glyphicon-remove form-control-feedback" ng-if="validationError.errors['Emergency_Telephone_Home_1'].kind">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="input-group" ng-class="{ 'has-error': validationError.errors['Emergency_Telephone_Mobile_1'].kind }">
                                                <label for="Emergency_Telephone_Mobile_1">Mobile:</label>
                                                <input type="tel" name="Emergency_Telephone_Mobile_1" size="25" value="" class="form-control" ng-model="v.Emergency_Telephone_Mobile_1" ng-blur="validate(v)">
                                                <span class="glyphicon glyphicon-remove form-control-feedback" ng-if="validationError.errors['Emergency_Telephone_Mobile_1'].kind">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="input-group" ng-class="{ 'has-error': validationError.errors['Emergency_Telephone_Other_1'].kind }">
                                                <label for="Emergency_Telephone_Other_1">Other tel:</label>
                                                <input type="tel" name="Emergency_Telephone_Other_1" size="25" value="" class="form-control" ng-model="v.Emergency_Telephone_Other_1" ng-blur="validate(v)">
                                                <span class="glyphicon glyphicon-remove form-control-feedback" ng-if="validationError.errors['Emergency_Telephone_Other_1'].kind">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--tab-pane-->
                            <div class="tab-pane" id="emergency2{{v._id}}">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label for="Emergency_Name_2">Name:</label>
                                                <input type="text" name="Emergency_Name_2" size="42" value="" class="form-control" ng-model="v.Emergency_Name_2">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label for="Emergency_Address_2">Address:</label>
                                                <textarea name="Emergency_Address_2" rows="6" cols="40" class="form-control" ng-model="v.Emergency_Address_2"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="Emergency_Relationship_2">Relationship:</label>
                                                <input type="text" name="Emergency_Relationship_2" size="25" value="" class="form-control" ng-model="v.Emergency_Relationship_2">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="input-group" ng-class="{ 'has-error': validationError.errors['Emergency_Email_2'].kind }">
                                                <label for="Emergency_Email_2">Email:</label>
                                                <input type="email" name="Emergency_Email_2" size="25" value="" class="form-control" ng-model="v.Emergency_Email_2" ng-blur="validate(v)">
                                                <span class="glyphicon glyphicon-remove form-control-feedback" ng-if="validationError.errors['Emergency_Email_2'].kind">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="input-group" ng-class="{ 'has-error': validationError.errors['Emergency_Telephone_Home_2'].kind }">
                                                <label for="Emergency_Telephone_Home_2">Home tel:</label>
                                                <input type="tel" name="Emergency_Telephone_Home_2" size="25" value="" class="form-control" ng-model="v.Emergency_Telephone_Home_2" ng-blur="validate(v)">
                                                <span class="glyphicon glyphicon-remove form-control-feedback" ng-if="validationError.errors['Emergency_Telephone_Home_2'].kind">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="input-group" ng-class="{ 'has-error': validationError.errors['Emergency_Telephone_Mobile_2'].kind }">
                                                <label for="Emergency_Telephone_Mobile_2">Mobile:</label>
                                                <input type="tel" name="Emergency_Telephone_Mobile_2" size="25" value="" class="form-control" ng-model="v.Emergency_Telephone_Mobile_2" ng-blur="validate(v)">
                                                <span class="glyphicon glyphicon-remove form-control-feedback" ng-if="validationError.errors['Emergency_Telephone_Mobile_2'].kind">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="input-group" ng-class="{ 'has-error': validationError.errors['Emergency_Telephone_Other_2'].kind }">
                                                <label for="Emergency_Telephone_Other_2">Other tel:</label>
                                                <input type="tel" name="Emergency_Telephone_Other_2" size="25" value="" class="form-control" ng-model="v.Emergency_Telephone_Other_2" ng-blur="validate(v)">
                                                <span class="glyphicon glyphicon-remove form-control-feedback" ng-if="validationError.errors['Emergency_Telephone_Other_2'].kind">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--tab-pane-->
                            <div class="tab-pane" id="other{{v._id}}">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label for="Heard_From">Where did you hear about volunteering for Wear Rivers Trust?</label>
                                                <select name="Heard_From" class="form-control" ng-model="v.Heard_From">
                                                    <option value="Website">Website</option>
                                                    <option value="Local Newspaper">Local Newspaper</option>
                                                    <option value="Volunteer Centre">Volunteer Centre</option>
                                                    <option value="Wildlife Volunteer">Wildlife Volunteer</option>
                                                    <option value="Television">Television</option>
                                                    <option value="College Careers Service">College Careers Service</option>
                                                    <option value="Friend">Friend</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label for="Interested_In_More">Would you like to hear about other volunteering opportunities?</label>
                                                <br>
                                                <label class="radio-inline"><input type="radio" name="Interested_In_More" id="true" ng-value="true" ng-model="v.Interested_In_More">Yes</label>
                                                <label class="radio-inline"><input type="radio" name="Interested_In_More" id="false" ng-value="false" ng-model="v.Interested_In_More">No</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label for="Photographic_Consent">Do you agree for any photographs to be published on our volunteer website and interpretation?</label>
                                                <br>
                                                <label class="radio-inline"><input type="radio" name="Photographic_Consent" id="true" ng-value="true" ng-model="v.Photographic_Consent">Yes</label>
                                                <label class="radio-inline"><input type="radio" name="Photographic_Consent" id="false" ng-value="false" ng-model="v.Photographic_Consent">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--tab-pane-->
                        </div><!--my-tab-content-->
                    </div><!--divDialogElements-->
                </div><!--modal-body-->
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" ng-click="submitChange(v)">Close</button>
            </div><!--modal-footer-->
        </div><!--modal-content-->
    </div><!--modal-dialog-->
</div><!--Full Modal-->