<script src="bootstrap-wysiwyg.js"></script>
<link href="editor.css">

<!-- include summernote css/js-->
<link href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.7.3/summernote.css" rel="stylesheet">
<script src="//cdnjs.cloudflare.com/ajax/libs/summernote/0.7.3/summernote.js"></script>
<script src="carat.js"></script>


<div class="panel panel-default">
  <div class="panel-heading">
    
    <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Insert Field
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

    <li><a href="#" class="dropdownItem" ng-repeat="th in allTableHeadings" ng-Click="alert({{th}})" id="{{th}}">{{readable(th)}}</a></li>
  </ul>
</div>

  </div>
  <div class="panel-body" contenteditable="true" ng-model="email.body" ng-change="emailChange()" id="emailBody" onmouseup="updatePosition(this);" onmousedown="updatePosition(this);"
            onkeyup="updatePosition(this);" onkeydown="updatePosition(this);">
  </div>
</div>

<script>
$(document).ready(function() {
$(".dropdownItem").on('click', function(event) {
    console.log(event.target.id)
    var emBod = document.getElementById("emailBody");
    var caretPos = globalCursorPos;
    emBod.focus();
    $("#emailBody").caret(caretPos)
    var textAreaTxt = $("#emailBody").text();
    console.log(textAreaTxt);
    var txtToAdd = "{{"+event.target.id+"}}";
    console.log(textAreaTxt.substring(0, caretPos) + txtToAdd + textAreaTxt.substring(caretPos))
    $("#emailBody").text(textAreaTxt.substring(0, caretPos) + txtToAdd + textAreaTxt.substring(caretPos) );
    //emailChange();
});
});



</script>





<script>


        function updatePosition(t) {
            //globalCursorPos = getInputSelection(t);
            //console.log("pos",globalCursorPos)
            globalCursorPos = $("#emailBody").caret()
        }
        var globalCursorPos;


</script>