    <!-- Modal for editing volunteer data -->

    <div id="editModal{{v._id}}" class="modal fade" role="dialog" ng-repeat="v in volunteers" ng-attr-data-display-modal="{{$last ? '' : undefined}}">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">          
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit {{v.Title}} {{v.First_Name}} {{v.Last_Name}}</h4>
                </div>
                <div class="modal-body">

                    <div class="divDialogElements">
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="active"><a href="#contactDetails{{v._id}}">Contact Details</a></li>
                            <li><a href="#volunteering{{v._id}}">Volunteering</a></li>
                            <li><a href="#transport{{v._id}}">Transport</a></li>
                            <li><a href="#emergency1{{v._id}}">Emergency Contact (1)</a></li>
                            <li><a href="#emergency2{{v._id}}">Emergency Contact (2)</a></li>
                            <li><a href="#other{{v._id}}">Other Info</a></li>
                        </ul>
                        <div id="my-tab-content" class="tab-content">
                            
                            <div class="tab-pane active" id="contactDetails{{v._id}}">

                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label for="Title">Title:</label>
                                                <select name="Title" class="form-control" ng-model="v.Title">
                                                    <option value="Mr">Mr</option>
                                                    <option value="Mrs">Mrs</option>
                                                    <option value="Miss">Miss</option>
                                                    <option value="Ms">Ms</option>
                                                    <option value="Dr">Dr</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="First_Name">First Name:</label>
                                                <input type="text" name="First_Name" size="25" value="" class="form-control" ng-model="v.First_Name">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="Last_Name">Surname:</label>
                                                <input type="text" name="Last_Name" size="25" value="" class="form-control" ng-model="v.Last_Name">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label for="Address">Address:</label>
                                                <textarea name="Address" rows="6" cols="40" class="form-control" ng-model="v.Address"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label for="Date_of_Birth">Date of Birth:</label>
                                                <input type="date" name="Date_of_Birth" size="25" value="" class="form-control" ng-model="v.Date_of_Birth">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="Email">Email:</label>
                                                <input type="email" name="Email" size="25" value="" class="form-control" ng-model="v.Email">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="Communication_Preference">Preferred method of contact:</label>
                                                <select name="Communication_Preference" class="form-control" ng-model="v.Communication_Preference">
                                                    <option value="Letter">Letter</option>
                                                    <option value="Email">Email</option>
                                                    <option value="Telephone">Telephone</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label for="Telephone_Home">Home tel:</label>
                                                <input type="tel" name="Telephone_Home" size="25" value="" class="form-control" ng-model="v.Telephone_Home">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="Telephone_Mobile">Mobile:</label>
                                                <input type="tel" name="Telephone_Mobile" size="25" value="" class="form-control" ng-model="v.Telephone_Mobile">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="Telephone_Other">Other tel:</label>
                                                <input type="tel" name="Telephone_Other" size="25" value="" class="form-control" ng-model="v.Telephone_Other">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--tab-pane-->
                            <div class="tab-pane" id="volunteering{{v._id}}">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="Volunteering_Type">In what capacity would you like to volunteer?</label>
                                                <select name="Volunteering_Type" class="form-control" ng-model="v.Volunteering_Contact">
                                                    <option value="supportAtEvents">Support at Events</option>
                                                    <option value="fieldWork">Field Work</option>
                                                    <option value="monitoringAndTesting">Monitoring/Testing</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="Availability">What days are you available to volunteer?</label>
                                                <select name="Availability" class="form-control" ng-model="v.Availability">
                                                    <option value="weekdays">Weekdays</option>
                                                    <option value="weekends">Weekends</option>
                                                    <option value="both">Both</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label for="Experience">Please list any relavant experience you may have:</label>
                                                <textarea name="Experience" rows="6" cols="120" placeholder="" class="form-control" ng-model="v.Experience"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label for="Medical_Condition">Do you have any medical conditions/allergies that we should be aware about?</label>
                                                <textarea name="Medical_Condition" rows="6" cols="120" placeholder="" class="form-control" ng-model="v.Medical_Condition"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label for="Last_Tetanus">If relevant, what date was you last Tetanus?</label>
                                                <input type="date" name="Last_Tetanus" size="25" value="" class="form-control" ng-model="v.Last_Tetanus">
                                                <span class="help-block">(if more than 10 years ago please consult your GP)</span>
                                            </div>
                                        </div>
                                    </div>    
                                </div>        
                            </div><!--tab-pane-->
                            <div class="tab-pane" id="transport{{v._id}}">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <label for="Has_Transport">Do you have transport?</label>
                                                <br>
                                                <label class="radio-inline"><input type="radio" name="Has_Transport" id="true" value="true" ng-model="v.Has_Transport">Yes</label>
                                                <label class="radio-inline"><input type="radio" name="Has_Transport" id="false" value="false" ng-model="v.Has_Transport">No</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <span class="help-block">If you answered No you can skip this part</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="Make">Car make:</label>
                                                <input type="text" name="Make" size="25" value="" class="form-control" ng-disabled="v.Has_Transport=='false'">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="Mode">Car model:</label>
                                                <input type="text" name="Mode" size="25" value="" class="form-control" ng-disabled="v.Has_Transport=='false'">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="Colour">Car colour:</label>
                                                <input type="text" name="Colour" size="25" value="" class="form-control" ng-disabled="v.Has_Transport=='false'">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="Registration_Number">Car reg:</label>
                                                <input type="text" name="Registration_Number" size="25" value="" class="form-control" ng-disabled="v.Has_Transport=='false'">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--tab-pane-->
                            <div class="tab-pane" id="emergency1{{v._id}}">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label for="Name">Name:</label>
                                                <input type="text" name="Name" size="42" value="" class="form-control" ng-model="v.Emergency_Name_1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label for="Address">Address:</label>
                                                <textarea name="Address" rows="6" cols="40" class="form-control" ng-model="v.Emergency_Address_1"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="Relationship">Relationship:</label>
                                                <input type="text" name="Relationship" size="25" value="" class="form-control" ng-model="v.Emergency_Relationship_1">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="Email">Email:</label>
                                                <input type="email" name="Email" size="25" value="" class="form-control" ng-model="v.Emergency_Email_1">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label for="Telephone_Home">Home tel:</label>
                                                <input type="tel" name="Telephone_Home" size="25" value="" class="form-control" ng-model="v.Emergency_Telephone_Home_1">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="Telephone_Mobile">Mobile:</label>
                                                <input type="tel" name="Telephone_Mobile" size="25" value="" class="form-control" ng-model="v.Emergency_Telephone_Mobile_1">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="Telephone_Other">Other tel:</label>
                                                <input type="tel" name="Telephone_Other" size="25" value="" class="form-control" ng-model="v.Emergency_Telephone_Other_1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--tab-pane-->
                            <div class="tab-pane" id="emergency2{{v._id}}">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label for="Name">Name:</label>
                                                <input type="text" name="Name" size="42" value="" class="form-control" ng-model="v.Emergency_Name_2">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label for="Address">Address:</label>
                                                <textarea name="Address" rows="6" cols="40" class="form-control" ng-model="v.Emergency_Address_2"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="Relationship">Relationship:</label>
                                                <input type="text" name="Relationship" size="25" value="" class="form-control" ng-model="v.Emergency_Relationship_2">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="Email">Email:</label>
                                                <input type="email" name="Email" size="25" value="" class="form-control" ng-model="v.Emergency_Email_2">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="form-group">
                                                <label for="Telephone_Home">Home tel:</label>
                                                <input type="tel" name="Telephone_Home" size="25" value="" class="form-control" ng-model="v.Emergency_Telephone_Home_2">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="Telephone_Mobile">Mobile:</label>
                                                <input type="tel" name="Telephone_Mobile" size="25" value="" class="form-control" ng-model="v.Emergency_Telephone_Mobile_2">
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label for="Telephone_Other">Other tel:</label>
                                                <input type="tel" name="Telephone_Other" size="25" value="" class="form-control" ng-model="v.Emergency_Telephone_Other_2">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--tab-pane-->
                            <div class="tab-pane" id="other{{v._id}}">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label for="Heard_From">Where did you hear about volunteering for Wear Rivers Trust?</label>
                                                <select name="Heard_From" class="form-control" ng-model="Heard_From">
                                                    <option value="website">Website</option>
                                                    <option value="local newspaper">Local Newspaper</option>
                                                    <option value="volunteer centre">Volunteer Centre</option>
                                                    <option value="wildlife volunteer">Wildlife Volunteer</option>
                                                    <option value="television">Television</option>
                                                    <option value="college careers service">College Careers Service</option>
                                                    <option value="friend">Friend</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label for="Interested_In_More">Would you like to hear about other volunteering opportunities?</label>
                                                <br>
                                                <label class="radio-inline"><input type="radio" name="Interested_In_More" id="true" value="true">Yes</label>
                                                <label class="radio-inline"><input type="radio" name="Interested_In_More" id="false" value="false">No</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label for="Photographic_Consent">Do you agree for any photographs to be published on our volunteer website and interpretation?</label>
                                                <br>
                                                <label class="radio-inline"><input type="radio" name="Photographic_Consent" id="true" value="true">Yes</label>
                                                <label class="radio-inline"><input type="radio" name="Photographic_Consent" id="false" value="false">No</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!--tab-pane-->
                        </div><!--my-tab-content-->
                    </div><!--divDialogElements-->
                </div><!--modal-body-->
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" ng-click="submitChange(v)">Close</button>
            </div><!--modal-footer-->
        </div><!--modal-content-->
    </div><!--modal-dialog-->
</div><!--Full Modal-->