<!-- Modal for email communication -->


<div id="emailModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Send communication</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    Communication method:
                    <select ng-model="email.communicationType">
                        <option value="commPref">Communication Pref</option>
                        <option value="email">Force Email</option>
                        <option value="letter">Force Letter</option>
                    </select>
                </div>


                <div class="container">
                    <div class="row">
                        Recipients:<br><span ng-repeat="v in selected()"><span style="text-transform: uppercase;">{{v.First_Name}} {{v.Last_Name}}</span> &lt;{{v.Email}}&gt;, </span><br>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                Subject:<input class="form-control" ng-model="email.subject" ng-change="emailChange()">
                                Body:<%- include('editor.ejs') %>
                                
                            </div>
                            
                        </div>
                        <div class="col-sm-6">
                            <h3>Preview</h3>
                            <div class="form-group">
                                {{emailPreview.subject}}
                                <br><br>{{emailPreview.body}}
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    Message
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                    <button class="btn btn-primary" ng-click="sendEmail()">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>