<form action='/loginauth' method='POST'>
	<label>Username</label><input type="text" id="userName" name='username'>
	<label>Password<input type="password" id="password" name="password" />
	<a href='/dash'><button type="submit" class="btn-submit">Submit</button></a>
</form>

//save in sublime
//mpm start
//local host:5000
/to see changes