<!-- Modal for settings -->


<div id="settingsModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Settings</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label for="ths">Change Table Headings Shown</label>
                            <select size="10" ng-model="tableHeadings" name="ths" class="form-control" multiple ng-options="th as readable(th) for th in allTableHeadings">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" ng-click="updateUser()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>